<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="PMMT project">
    <meta name="author" content="Efraim Augusto Gonçalves">
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMMT</title>
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            Loading...
          </div>
        </div>
      </div>
    </div>


    <!-- datetime picker
    {% style "/css/jquery.datetimepicker.min.css" %}
    {% script "/js/jquery.datetimepicker.full.min.js" %}
    -->

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
        var identity = {{identity|json|safe}};
    </script>

    <!-- custom css -->
    {% style "/css/screen.css" %}
    <div id="scripts"></div>

    {% script "/js/app.js" %}
  </body>
</html>
