<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="PMMT project">
    <meta name="author" content="Efraim Augusto Gonçalves">
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMMT</title>
    <!-- Bootstrap core CSS     -->
    {% style "/css/bootstrap.min.css" %}

    <!-- Animation library for notifications   -->
    {% style "/css/animate.min.css" %}

    <!--  Light Bootstrap Table core CSS    -->
    {% style "/css/light-bootstrap-dashboard.css" %}

    <!--     Fonts and icons     -->
    {% style "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %}
    {% style "http://fonts.googleapis.com/css?family=Roboto:400,700,300" %}
    {% style "/css/pe-icon-7-stroke.css" %}
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            Loading...
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
        var identity = {{identity|json|safe}};
    </script>

    <!-- custom css -->
    {% style "/css/screen.css" %}

    <!--   Core JS Files   -->
    {% script "/js/jquery-1.10.2.js" %}
    {% script "/js/bootstrap.min.js" %}

    <!--  Checkbox, Radio & Switch Plugins 
    {% script "/js/bootstrap-checkbox-radio-switch-tags.js" %}-->

    <!--  Notifications Plugin    -->
    {% script "/js/bootstrap-notify.js" %}

    <!--  Charts Plugin -->
    {% script "/js/chartist.min.js" %}

    <!-- app -->
    {% script "/js/app.js" %}

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    {% script "/js/light-bootstrap-dashboard.js" %}
  </body>
</html>
